body {
	font-family: Lucida Sans Unicode, Lucida Grande, Sans-Serif;
	margin: 0;
	padding: 0;
	background: #F8F8F8
}

body > div {
	padding: 1em;
}

header {
	background: #88CCEE;
	border-bottom: 2px solid #66aabb;
	color: white;
	font-size: 150%;
	font-weight: bold;
	padding: 1em;
	text-align: center;
}
