<!DOCTYPE html>
<html>
	<head>
		<title>SimpleErrorMVC WebSample</title>
		<script type="text/javascript" src="~/Scripts/jquery-2.0.3.min.js"> </script>
	</head>
	<body>
		<h1>SimpleErrorMVC WebSample</h1>
		<div>
			@RenderBody()
		</div>
	</body>
</html>