################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

input/lib/net40
output
